allow vendor_init vendor_dpmd_data_file:file rw_file_perms;
allow vendor_init vendor_dpmd_data_file:dir create_dir_perms;
allow vendor_init boot_status_prop:property_service set;
allow vendor_init build_prop:property_service set;
